@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@500&family=Ubuntu:wght@500&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
}

.primary-btn {
  height: 2.5rem;
  width: 10rem;
  font-size: 1.1rem;
  background-color: #ffe26e;
  border-color: #ffe26e;
  border-style: dashed;
  font-weight: 500;
  border-radius: 8px;
}


.Toastify__close-button {
width: auto;
}